.app-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.005em;
    outline: none;
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 4px 10px;
    border-radius: var(--app-radius-md);

    &--info {
        background: var(--app-bg-light);
        color: var(--app-text-accent-light);
    }
}
